   <!-- footer section -->
   <footer class="footer" id="footer">
    <div class="footer--text">
        <p>Copyright &copy; 2023 Tamale Frank | All Rights Reserved.</p>
    </div>
    <div class="footer-iconTop">
        <a href="#home">
            <i class='bx bx-up-arrow-alt'></i>
        </a>
    </div>
</footer>


<!-- scroll review -->
<script src="https://unpkg.com/scrollreveal"></script>

<!-- typedjs -->
<script src="https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js"></script>

<!-- link to js script file -->
<script src="./data/collection.js"></script>
<script src="./js/script.js"></script>
</body>
</html>